**/plugin/packer_compiled.lua
**/nvim/plugin
**/lazy-lock.json
./lazyvim/lazy-lock.json
**/lazyvim.json
**/lazyvim/lazyvim.json

**/.DS_Store
.DS_Store

# Generated zsh completions (fetched by init.sh)
shell/zsh/completion/
