window {
    border: 3px solid #ff8050;
    border-radius: 8px;
}

#outer-box {
    padding: 4px;
}

#entry {
    padding: 6px 10px;
    border-radius: 4px;
    color: #99bc80;
    font-weight: bold;
}

#entry:selected,
#entry:selected * {
    background-color: #ff8050;
    color: #1a1a1a;
    font-weight: bold;
}

#input {
    font-weight: bold;
}
