# schema = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
final_space = true
version = 3

########################################
# LINE 1 — Shell + Path (Left)
########################################
[[blocks]]
alignment = "left"
newline = true
type = "prompt"

  [[blocks.segments]]
  type = "shell"
  style = "plain"
  foreground = "#E06C75"
  template = " {{ .Name }} "

    [blocks.segments.properties.mapped_shell_names]
    pwsh = "Shell"
    powershell = "Shell"
    cmd = "Cmd"
    bash = "Bash"

  [[blocks.segments]]
  foreground = "#61AFEF"
  style = "plain"
  template = " {{ .Path }}"
  type = "path"

    [blocks.segments.properties]
    style = "full"

  # --- Git (branch/icon) in green ---
  [[blocks.segments]]
  type = "git"
  alias = "GitBranch"
  style = "plain"
  foreground = "#98C379"
  template = " | {{ .UpstreamIcon }}{{ .HEAD }}"
  [blocks.segments.properties]
  branch_template = "{{ trunc 25 .Branch }}"
  fetch_status = true
  fetch_upstream_icon = true

  # --- Git (status/stash/etc.) in orange ---
  [[blocks.segments]]
  type = "git"
  alias = "GitMeta"
  style = "plain"
  foreground = "#FF9248"
  template = " |{{ if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }}{{ if .Working.Changed }}  {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}"
  [blocks.segments.properties]
  fetch_status = true

########################################
# LINE 1 — AWS / Kube / AZ / Time (Right)
########################################
[[blocks]]
alignment = "right"
type = "prompt"

  # --- AWS Profile ---
  [[blocks.segments]]
  type = "aws"
  style = "plain"
  foreground = "#E06C75"
  template = " {{.Profile}}{{if .Region}}|{{.Region}}{{end}} "

  [[blocks.segments]]
  type = "kubectl"
  style = "plain"
  foreground = "#9ec3f0"
  template = '| ﴱ {{ .Cluster | replace "arn:aws:eks:" "" | replace ":cluster/" " " | splitList " " | last }} '

  [[blocks.segments]]
  type = "az"
  style = "plain"
  foreground = "#9ec3f0"
  template = "|  {{ .EnvironmentName }}"

  [[blocks.segments]]
  foreground = "#E5C07B"
  style = "plain"
  template = "[{{ .CurrentDate | date .Format }}]"
  type = "time"

    [blocks.segments.properties]
    time_format = "15:04"

########################################
# LINE 2 — Prompt
########################################
[[blocks]]
alignment = "left"
newline = true
type = "prompt"

  [[blocks.segments]]
  foreground = "#E06C75"
  style = "plain"
  template = "!"
  type = "root"

  [[blocks.segments]]
  foreground = "#E06C75"
  style = "plain"
  template = "❯"
  type = "text"
