[Desktop Entry]
Type=Application
Name=cliphist daemon
Comment=Clipboard history daemon
Exec=/bin/bash -c "wl-paste --watch $HOME/go/bin/cliphist store"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
